*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.di{
    /* height: 1792px; */
    background: url(../img/di.png) no-repeat center;
    background-size: 100% 100%;
}
.header{
    height: 77px;
    /* background: url(img/navd.png) no-repeat center; */
    background-color: transparent;
}
.header .header-c{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.header .logo{
    /* width: 1179px; */
    float: left;
}
.header .biao{
    margin-top: 16px;
    margin-left: 51px;
}
.header-c .nav{
    position: absolute;
    right: 49px;
    top: 30px;
}
.header-c .nav .every{
    float: left;
    margin-left: 36px;    
    position: relative;
    padding: 0 6px;
}
.header-c .nav a{
    color: #8d8d8d;
}
.header-c .nav .line{
    display: none;
    width: 100%;
    height: 2px;
    background-color: #dd1717;
    position: absolute;
    top: 30px;
    left: 0;
}
.header-c .nav :hover a{
    color: #dd1717;
}
.header-c .nav :hover .line{
    display: block;
}
.header-c .nav .every.active a{
    color: #dd1717;
}
.header-c .nav .every.active .line{
    display: block;
}
.di .gai{
    height: 357px;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    /* background-color:#161616; */
}            
.gai .interval{
    width: 100%;
    height: 357px;
    /* background-color: #000000; */
    margin: 0 auto;
}
.gai .interval .kk{
    text-align: center;
    position: relative;
    /* background-color: #161616; */
    
}

.gai .interval span{
    font-size: 12px;
    color: whitesmoke;
    font-weight: bolder;
    line-height: 357px;
    /* line-height: 24px;  */
              
}
.gai .interval .line{
    height: 2px;
    width: 130px;
    background-color: #dd1717;
    position: absolute; 
}
.gai .kk .luan{
    font-size: 24px;
    color: #dd1717;
    position: absolute;
    top: 26%;
    left: 42%;
}
.gai .interval .line.f1{
    top: 30%;
    left: 30%;
}
.gai .interval .line.f2{
    top: 30%;
    right: 30%;
}
.gai .interval .tip{  
    position: absolute;
    top: 35%;
    left: 46.5%;   
    color: wheat;
}
.main{
    height: 1747px;
}
.main .main-c{
    margin: 0 auto;
    width: 1200px;
    height: 100%; 
    position: relative;
}
.main-c .box{
    height: 1326px;
    width: 1077px;
    margin: 0 auto;
}
.main-c .box .img{
    float: left;
    width: 514px;
    height: 738px;
    text-align: center;
}
.main-c .box .img.mr1{
    margin-bottom: 46px;
    margin-right: 46px;
}
.main-c .box .img.mr3{
    margin-right: 46px;
}
.main-c .box .img.mr2{
    margin-bottom: 46px;
}
.box .img.mr1 .tu,
.box .img.mr2 .tu,
.box .img.mr3 .tu,
.box .img.mr4 .tu{
    width: 100%;
    height: 464px;
    overflow: hidden;
}
.box .img.mr1 .da,
.box .img.mr2 .da,
.box .img.mr3 .da,
.box .img.mr4 .da{
    height: 75px;
    width: 100%;
    line-height: 75px;
    background-color: #212121;
    color: #ffffff;
    font-size: 18px;
}
.box .img.mr1 .much,
.box .img.mr2 .much,
.box .img.mr3 .much,
.box .img.mr4 .much{
    position: relative;
    background: rgba(20,20,20, 0.4);
}
.box .img.mr1 .much .el,
.box .img.mr2 .much .el,
.box .img.mr3 .much .el,
.box .img.mr4 .much .el{
    height: 200px;
    width: 100%;
    line-height: 200px;
    color: white;
    
}
.img.mr1 .much span,
.img.mr2 .much span,
.img.mr3 .much span,
.img.mr4 .much span{
    color: white;
    font-size: 36px;
    position: absolute;
    top: 40px;
    left: 200px;
}
.img.mr1 .much p,
.img.mr2 .much p,
.img.mr3 .much p,
.img.mr4 .much p{
    color: white;
    position: absolute;
    left: 210px;
    bottom: 50px;
}
.main-c .box :hover{
    background-color: red;
}
.us{
    background-color: #000000;
    height: 282px;
}
.us .us-c{
    width: 1200px;
    margin: 0 auto;
    
}
.us-c .wei{
    margin-top: 90px;
    float: left;
    width: 370px;
    height: 111px;
    border-right:1px solid gray;
    
    
}
.us .us-c .icon{
    display: block;
    font-size: 16px;
    margin-top: 35px;
    color: white;
}
.us-c .icon .icon4{
    position: absolute;
    left: 3px;
    top: 10px;
    /* float: left; */
}
.us-c .icon4 .img{
    float: left;
    margin: 6px;
}
.us-c .zhong{
    margin-top: 90px;
    float: left;
    width: 456px;
    height: 111px;
    border-right:1px solid gray;
    text-indent: 5em;
}
.us-c .zhong p{
    display: block;
    font-size: 16px;
    margin-top: 12px;
    
    color: white;
}
.us-c .you{
    margin-top: 90px;
    float: left;
    width: 372px;
    height: 111px;
    text-indent: 5em;
}
.us-c .you p{
    display: block;
    font-size: 14px;
    margin-top: 12px;
    
    color: white;
}

.footer{
    height: 80px;
    background-color: #161616;
    text-align: center;
}
.footer p{
    color: #a0a0a0;
    line-height: 80px;
}