*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 77px;
    position: relative;
    /* background: url(../img/navd.png) no-repeat center; */
    background-color: black;
    margin: 0 auto;
}
.header .header-c,
.main .main-c{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.big{
    /* height: 1325px; */
    position: relative;
    overflow: hidden;
}
.big .bg{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 917px; 
    object-fit: cover;          
}
.header .logo{
    /* width: 1179px; */
    float: left;
}
.header .biao{
    margin-top: 16px;
    margin-left: 51px;
}
.header .nav{
    position: absolute;
    right: 49px;
    top: 30px;
}
.header .nav .every{
    float: left;
    margin-left: 36px;    
    position: relative;
    padding: 0 6px;
}
.header .nav a{
    color: #8d8d8d;
}
.header .nav .line{
    display: none;
    width: 100%;
    height: 2px;
    background-color: #dd1717;
    position: absolute;
    top: 30px;
    left: 0;
}
.header .nav :hover a{
    color: #dd1717;
}
.header .nav :hover .line{
    display: block;
}
.header .nav .every.active a{
    color: #dd1717;
}
.header .nav .every.active .line{
    display: block;
}
.main{
    height: 950px;
    position: relative;
}
.main .interval{
    width: 100%;
    height: 150px;
    /* background-color: #000000; */
    margin: 0 auto;
}
.main .interval .kk{
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.main .interval span{
    font-size: 24px;
    color: #dd1717;
    font-weight: bolder;
    line-height: 150px;
    /* line-height: 24px;  */
              
}
.main .interval .line{
    height: 2px;
    width: 130px;
    background-color: #dd1717;
    position: absolute;
    
   
}
.main .interval .line.f1{
    top: 50%;
    left: 30%;
}
.main .interval .line.f2{
    top: 50%;
    right: 30%;
}
.main .interval .tip{
    font-size: 12px; 
    position: absolute;
    top: 61%;
    left: 48%;
    
    color: wheat;
}
.main .text{
    background: url(../img/every.png);
    background-size: 100% 100%;
    height: 600px;
    width: 650px;
    position: absolute;
    left: 28%;
    top: 19%;
}
.main .gai{
    width: 100%;
    height: 150px;
    background-color: black;
    position: absolute;
    bottom: 0;
    z-index: -1;
    
}
.us{
    background-color: #000000;
    height: 282px;
}
.us .us-c{
    width: 1200px;
    margin: 0 auto;
    
}
.us-c .wei{
    margin-top: 90px;
    float: left;
    width: 370px;
    height: 111px;
    border-right:1px solid gray;
    
    
}
.us .us-c .icon{
    display: block;
    font-size: 16px;
    margin-top: 35px;
    color: white;
}
.us-c .icon .icon4{
    position: absolute;
    left: 3px;
    top: 10px;
    /* float: left; */
}
.us-c .icon4 .img{
    float: left;
    margin: 6px;
}
.us-c .zhong{
    margin-top: 90px;
    float: left;
    width: 456px;
    height: 111px;
    border-right:1px solid gray;
    text-indent: 5em;
}
.us-c .zhong p{
    display: block;
    font-size: 16px;
    margin-top: 12px;
    
    color: white;
}
.us-c .you{
    margin-top: 90px;
    float: left;
    width: 372px;
    height: 111px;
    text-indent: 5em;
}
.us-c .you p{
    display: block;
    font-size: 14px;
    margin-top: 12px;
    
    color: white;
}

.footer{
    height: 80px;
    background-color: #161616;
    text-align: center;
}
.footer p{
    color: #a0a0a0;
    line-height: 80px;
}