*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 77px;
    position: relative;
    /* background: url(img/navd.png) no-repeat center; */
    background-color: transparent;
}
.big{
    height: 718px;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.big .big-c{
    width: 1200px;
    height: 718px;
    margin: 0 auto;
    background: url(../img/big.png) no-repeat center;
    /* z-index: -1; */
}
.header .logo{
    /* width: 1179px; */
    float: left;
}
.header .biao{
    margin-top: 16px;
    margin-left: 51px;
}
.header .nav{
    position: absolute;
    right: 49px;
    top: 30px;
}
.header .nav .every{
    float: left;
    margin-left: 36px;    
    position: relative;
    padding: 0 6px;
}
.header .nav a{
    color: #8d8d8d;
}
.header .nav .line{
    display: none;
    width: 100%;
    height: 2px;
    background-color: #dd1717;
    position: absolute;
    top: 30px;
    left: 0;
}
.header .nav :hover a{
    color: #dd1717;
}
.header .nav :hover .line{
    display: block;
}
.header .nav .every.active a{
    color: #dd1717;
}
.header .nav .every.active .line{
    display: block;
}
.big .gai{
    height: 235px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color:#161616;
}            
.gai .interval{
    width: 100%;
    height: 199px;
    /* background-color: #000000; */
    margin: 0 auto;
}
.gai .interval .kk{
    text-align: center;
    position: relative;
    background-color: #161616;
    
}

.gai .interval span{
    font-size: 24px;
    color: #dd1717;
    font-weight: bolder;
    line-height: 199px;
    /* line-height: 24px;  */
              
}
.gai .interval .line{
    height: 2px;
    width: 130px;
    background-color: #dd1717;
    position: absolute;
    
   
}
.gai .interval .line.f1{
    top: 50%;
    left: 35%;
}
.gai .interval .line.f2{
    top: 50%;
    right: 35%;
}
.gai .interval .tip{  
    position: absolute;
    top: 60%;
    left: 48%;   
    color: wheat;
}
.main{
    height: 914px;
    background-color:#161616;
}
.main .main-c{
    margin: 0 auto;
    width: 1200px;
    height: 100%; 
    position: relative;
}
.main .main-c .cat{
    margin: 0 auto;
}
.main-c .cat .img{
    text-align: center;
    height: 31px;
    width: 99px;
    border: 1px solid gray;
    float: left;
    margin-right: 6px;
    margin-left: 6px;
    color: gray;
    line-height: 31px;
}
.main-c .cat :hover {
    border: 1px solid red;
    color: white;
    background-color: red;
}
.main-c .cat .img.mr0{
    border: 1px solid red;
    color: white;
    background-color: red;
}

.main-c .cat .img.mr0{
    margin-left: 160px;
    width: 65px;
}
.main-c .cat .img.mr1{
    margin-right: 160px;
}
.main-c .imgbox{
    width: 100%;
    height: 642px;
    position: absolute;
    top: 83px;
    /* background-color: red; */
}
.main-c .imgbox .pic{
    float: left;
    width: 261px;
    height: 195px;
    margin-top: 19px;
    margin-right: 51.5px;
}
.main-c .imgbox .pic.mr0{
    margin-right: 0px;
}
.main-c .imgbox .pic img{
    height: 100%;
    width: 100%;
}
.main-c .page{
    height: 22px;
    width: 232px;
    margin: 0 auto;
    /* background-color: red; */
    position: absolute;
    bottom: 100px;
    left: 458px;
}
.main-c .page .num{
    float: left;
    height: 22px;
    width: 22px;
    line-height: 22px;
    text-align: center;
    margin-right: 7px;
    color: whitesmoke;
    
}
.main-c .page :hover{
    background-color: red;
}
.main-c .page .num.mr0{
    background-color: red;
}
.us{
    background-color: #000000;
    height: 282px;
}
.us .us-c{
    width: 1200px;
    margin: 0 auto;
    
}
.us-c .wei{
    margin-top: 90px;
    float: left;
    width: 370px;
    height: 111px;
    border-right:1px solid gray;
    
    
}
.us .us-c .icon{
    display: block;
    font-size: 16px;
    margin-top: 35px;
    color: white;
}
.us-c .icon .icon4{
    position: absolute;
    left: 3px;
    top: 10px;
    /* float: left; */
}
.us-c .icon4 .img{
    float: left;
    margin: 6px;
}
.us-c .zhong{
    margin-top: 90px;
    float: left;
    width: 456px;
    height: 111px;
    border-right:1px solid gray;
    text-indent: 5em;
}
.us-c .zhong p{
    display: block;
    font-size: 16px;
    margin-top: 12px;
    
    color: white;
}
.us-c .you{
    margin-top: 90px;
    float: left;
    width: 372px;
    height: 111px;
    text-indent: 5em;
}
.us-c .you p{
    display: block;
    font-size: 14px;
    margin-top: 12px;
    
    color: white;
}

.footer{
    height: 80px;
    background-color: #161616;
    text-align: center;
}
.footer p{
    color: #a0a0a0;
    line-height: 80px;
}